---
layout: default
title: Documentation
bodyclass: is-blue
---

{% include search.html %}

<div class="contentWrapper">
  <div class="grid">
    {% for category in site.categories %}
    <div class="colxs100 colsm50 colmd33 collg33">
      <div class="box">
        <h2 class="box__title">{{ category.first }}</h2>
        {% for page in site.categories[category.first] %}
          <ul class="box__links ul">
            <li><a href="#" class="box__link">#{{ page.title | downcase }}</a></li>
            <li><a href="#" class="box__link">Navigation Link</a></li>
            <li><a href="#" class="box__link">Navigation Link</a></li>
            <li><a href="#" class="box__link">Navigation Link</a></li>
          </ul>
        {% endfor %}
        <div class="box__footer">
          <a href="#">Read More</a>
          <span class="box__counter">23 Topics</span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
