---
layout: default
title: Documentation
bodyclass: is-blue
---
{% assign categories = site.data.categories | sort_by_data_value: 'weight' %}

{% include search.html %}

<div class="contentWrapper">
  <div class="grid grid--boxContainer">
    {% for c in categories reversed %}
      {% assign category = c.last %}
      {% assign category_name = c.first %}
      {% if site.categories[category_name] %}
        {% assign category_pages = site.categories[category_name] | sort: 'weight' %}
        {% assign number_category_pages = site.categories[category_name] | size %}
        {% assign page_offset = number_category_pages | minus: 4 %}
        <div class="colxs100 colsm50 colmd33 collg33">
          <div class="box">
            <h2 class="box__title">{{ category.title }}</h2>
              <ul class="box__links ul">
                {% for content_page in category_pages reversed limit: 4 offset: page_offset %}
                <li><a href="{{ site.baseurl }}{{ content_page.url }}" class="box__link">{{ content_page.title }}</a></li>
                {% endfor %}
              </ul>
            {% if number_category_pages > 4 %}
            <div class="box__footer">
              <a href="{{ site.baseurl }}/{{ category_name }}/">Read More</a>
              <span class="box__counter">{{ number_category_pages }} Topics</span>
            </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
    <div class="grid">
      <div class="row">
        <div class="colxs100 ta-center">
          <p class="reportIssue">
            <a href="https://github.com/codeship/documentation/issues/new">Report an issue</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
