{% assign crumbs = page.url | remove: "/index.html" %}
{% assign crumbs = crumbs | split: '/' %}
{% assign previous = "" %}
<div class="breadcrumbs">
  {% for part in crumbs %}
    {% case part %}
    {% when crumbs.last %}
    {% when "" %}
      <a href="{{ site.baseurl }}/">Documentation</a>
    {% else %}
      {% capture previous %}{{ previous }}/{{ part }}{% endcapture %}
      {% if site.data.categories[part].title %}
        <a href="{{ site.baseurl }}{{ previous }}/">{{ site.data.categories[part].title }}</a>
      {% else %}
        {% if part == "faq" %}
          <a href="{{ site.baseurl }}{{ previous }}/">FAQ</a>
        {% else %}
          <a href="{{ site.baseurl }}{{ previous }}/">{{ part | capitalize | remove: '.html'  }}</a>
        {% endif %}
      {% endif %}
    {% endcase %}
  {% endfor %}
</div>
