footer.pageFooter
  .contentWrapper: .grid.grid--verticalize
    .colxs100.colsm100.colmd40.collg40
      .copyright
        .grid.grid--verticalize
          .colxs15.colsm10.col--cling
            figure: img alt="Logo only" src="https://d1089v03p3mzyq.cloudfront.net/assets/website/logo-only-6ef430af85542787280070ee4ca14330.png"
          .colxs85
            p © 2014 Codeship. All rights reserved <br>
    .colxs100.colsm100.colmd60.collg60.ta-right
      .colxs100.specialSiteLinks
        a href="https://codeship.io/tos" Terms of Service
        a href="https://codeship.io/privacy" Privacy Policy
        a href="https://codeship.io/security" Security
        a href="https://codeship.io/imprint" Imprint

      nav.nav.footerNav: ul
        li: a class="nav__link" href="https://codeship.io/" Home
        li: a class="nav__link" href="https://codeship.io/pricing" Pricing
        li: a class="nav__link" href="https://codeship.io/features" Features
        li: a class="nav__link" href="https://codeship.io/customers" Customers
        li: a class="nav__link" href="https://codeship.io/team" Team
        li: a class="nav__link" href="https://codeship.io/documentation" target="_blank" Documentation
        li: a class="nav__link" href="http://blog.codeship.io/" Blog
        li: a class="nav__link" href="https://codeship.io/jobs" Jobs
