<footer class="pageFooter">
  <div class="contentWrapper">
    <div class="grid grid--verticalize">
      <div class="colxs100 colsm100 colmd40 collg40">
        <div class="copyright">
          <div class="grid grid--verticalize">
            <div class="colxs15 colsm10 col--cling">
              <figure><img alt="Logo only" src="https://d1089v03p3mzyq.cloudfront.net/assets/website/logo-only-6ef430af85542787280070ee4ca14330.png" /></figure>
            </div>
            <div class="colxs85">
              <p>© 2014 Codeship. All rights reserved</p>
            </div>
          </div>
        </div>
      </div>
      <div class="colxs100 colsm100 colmd60 collg60 ta-right">
        <div class="colxs100 specialSiteLinks">
          <a href="https://codeship.io/tos">Terms of Service</a><a href="https://codeship.io/privacy">Privacy Policy</a><a href="https://codeship.io/security">Security</a><a href="https://codeship.io/imprint">Imprint</a>
        </div>
        <nav class="nav footerNav">
          <ul>
            <li><a class="nav__link" href="https://codeship.io/">Home</a></li>
            <li><a class="nav__link" href="https://codeship.io/pricing">Pricing</a></li>
            <li><a class="nav__link" href="https://codeship.io/features">Features</a></li>
            <li><a class="nav__link" href="https://codeship.io/customers">Customers</a></li>
            <li><a class="nav__link" href="https://codeship.io/team">Team</a></li>
            <li><a class="nav__link" href="https://codeship.io/documentation" target="_blank">Documentation</a></li>
            <li><a class="nav__link" href="http://blog.codeship.io/">Blog</a></li>
            <li><a class="nav__link" href="https://codeship.io/jobs">Jobs</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
