<header class="pageHeader">
  <div class="contentWrapper only-till-sm">
    <h1 class="is-hidden">Codeship</h1>
    <figure class="pageHeader__logo"><a href="/"><img alt="Codeship Logo" src="{{ site.baseurl }}/assets/img/logo.png" /></a></figure>
    <nav class="nav nav--small" id="subNav">
      <ul>
        <li><a class="nav__link" href="http://ebooks.codeship.io/">Free Ebook</a></li>
        <li><a class="nav__link" href="{{ site.baseurl }}">Documentation</a></li>
        <li><a class="nav__link" href="http://blog.codeship.io">Blog</a></li>
        <li><a class="nav__link" href="https://codeship.io/jobs">Jobs</a></li>
      </ul>
    </nav>
    <nav class="nav" id="mainNav">
      <ul>
        <li><a class="nav__link" href="https://codeship.io/pricing">Pricing</a></li>
        <li><a class="nav__link" href="https://codeship.io/features">Features</a></li>
        <li><a class="nav__link" href="https://codeship.io/customers">Customers</a></li>
        <li><a class="nav__link" href="https://codeship.io/team">Team</a></li>
      </ul>
    </nav>
    <div class="pageHeader__signup">
      <a class="btn is-success has-icon" href="https://codeship.io/users/sign_up" id="signin">Sign Up <span class="icon fa fa-user"></span></a>
    </div>
  </div>
  <div class="contentWrapper pageHeader__mobile">
    <h1 class="is-hidden">Codeship</h1>
    <figure class="pageHeader__logo"><a href="/"><img alt="Codeship Logo" src="{{ site.baseurl }}/assets/img/logo.png" /></a></figure>
    <button class="btn btn--mobileMenu js-mobileMenu"><span class="icon fa fa-bars"></span></button>
    <nav class="nav nav--mobileMenu">
      <ul>
        <li><a class="nav__link" href="https://codeship.io/pricing">Pricing</a></li>
        <li><a class="nav__link" href="https://codeship.io/features">Features</a></li>
        <li><a class="nav__link" href="https://codeship.io/customers">Customers</a></li>
        <li><a class="nav__link" href="https://codeship.io/team">Team</a></li>
        <li><a class="nav__link" href="http://blog.codeship.io">Blog</a></li>
      </ul>
    </nav>
  </div>
</header>
