<div class="newsletterSubscribe only-till-sm">
  <h2>Subscribe via Email</h2>
  <p>Join 16,045 Newsletter Subscribers.</p>
  <form action="http://codeship.us2.list-manage.com/subscribe/post?u=52dad990107d8125d188ae0c3&amp;id=1c3f6920a3" method="post" id="mc-embedded-subscribe-form-large" name="mc-embedded-subscribe-form-large" class="validate" target="_blank">
    <label for="email_page" class="label label--newsletter" data-watch="input">
      <input type="email" name="EMAIL" id="email_page" required>
      <span class="label__title">Email Address</span>
      <button type="submit" name="subscribe">Subscribe</button>
    </label>
  </form>
</div>
