<h3>Tutorials &amp; Helpful Articles</h3>
<div class="row">
  <div class="colxs100 col--cling">
    <div class="well well--paper">
      <div class="colxs90 colxs--offset5">
        <ul class="ul ta-left">
          <li><a href="#">Link to an Article on our Blog</a></li>
          <li><a href="#">Link to an Article on our Blog</a></li>
          <li><a href="#">Link to an Article on our Blog</a></li>
          <li><a href="#">Link to an Article on our Blog</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
