.searchBlock
  h2 Codeship Documentation
  form.searchBlock__form action="/"
    label.label.label--search for="search"
      input type="search" id="search" name="search" placeholder="Search the Documentation" autocomplete="off" spellcheck="false"
      input.is-hidden type="submit"
