---
layout: default
---
{% if page.title %}
  {% assign title = page.title %}
{% elsif page.category %}
  {% if site.data.categories[page.category].title %}
    {% assign title = site.data.categories[page.category].title %}
  {% else %}
    {% assign title = page.category | capitalize %}
  {% endif %}
{% elsif page.tag %}
  {% if site.data.tags[page.tag].title %}
    {% assign title = site.data.tags[page.tag].title %}
  {% else %}
    {% capture title %}#{{ page.tag }} {% endcapture %}
  {% endif %}
{% endif %}

{% include search.html %}

<div class="contentWrapper has-meta">
  {% include meta.html tags=page.tags %}
  <div class="grid">
    <div class="colxs100 pageContent">

      {% include breadcrumbs.html %}

      <h1 class="pageTitle" data-swiftype-name="title" data-swiftype-type="string"  data-swiftype-index='true'>{{ title }}</h1>
      {% if page.tags %}
      <div class="hidden-on-md hidden-on-lg onPageTags">
        {% for tag in page.tags %}<a class="tag" href="{{tag | tag_url }}">#{{ tag | downcase }}</a>{% endfor %}
      </div>
      {% endif %}

      <div data-swiftype-name="body" data-swiftype-type="text" data-swiftype-index='true'>
        {{ content }}
      </div>
    </div>
  </div>
</div>
