/*
 * ------------------------------------------------------------------------------ *
 * NAV
 * ------------------------------------------------------------------------------ *
 */

.nav {
  display: inline-block;
  font-size: 0;

  ul {
    list-style: none;
    margin: 0;
  }

  li {
    display: inline-block;
    padding: 0;
  }

}

.nav--small {
  font-size: .7em;
  font-size: 0;
}

.nav__link {
  display: block;
  color: $cMainNav;
  text-decoration: none;
  background: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: $base-padding/3 $base-padding/2;

  &:hover {
    background: none;
    color: $cMainNavHover;
  }
}
